body{ 
    background-color: rgb(42, 165, 163);
    font-size: 50pt;
    font: 1em sans-serif;
    
}

.valor{
    color: rgb(33, 58, 60);
    font-size: 2em;
    align-items: center;
    justify-content: center;
}

div{
    font-size: 1.5em;
}

input{
    font-size: 1em;
    padding: 1pt;
}